<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sogou.mobiletoolassist"
    android:versionCode="22"
    android:versionName="@string/version" 
   
    >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />    
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />  
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    

    <application
        android:name=".AssistApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        <activity
            android:name="com.sogou.mobiletoolassist.AssistActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sogou.mobiletoolassist.ProxyActivity"
            android:label="@string/proxyactivity"
            android:screenOrientation="portrait" >
            <intent-filter 
                >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.action.MONKEY"></category>
            </intent-filter>
        </activity>

        <activity 
            android:name="com.sogou.mobiletoolassist.setting.GlobalSetting"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent">
            
        </activity>
        <service android:name="com.sogou.mobiletoolassist.service.CoreService" >
            
        </service>

        <receiver 
            android:name="com.sogou.mobiletoolassist.receiver.SimuBroadcastReceiver">
            <intent-filter >
                <action android:name="com.sogou.mobiletoolassist.sendsimu"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.sogou.mobiletoolassist.sharefile.SendFileToTheContact"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter 
                android:label="@string/sharefile">
                <action android:name="android.intent.action.SEND"></action>
                <category android:name="android.intent.category.DEFAULT" />  
                <data android:mimeType="*/*"></data>
            </intent-filter>
        </activity>
        
        <activity android:name="be.ppareit.swiftp.gui.FsPreferenceActivity" 
            android:exported="true" >
           <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>--> 
        </activity>
        <service android:name="be.ppareit.swiftp.FsService" />

        <receiver
            android:name="be.ppareit.swiftp.gui.FsNotification"
            android:exported="false" >
            <intent-filter>
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
        </receiver>

        <service android:name="be.ppareit.swiftp.NsdService" />
        <receiver
            android:name="be.ppareit.swiftp.NsdService$StartStopReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
        </receiver>

        <!-- Don't export this receiver in free, this clashes with paid -->
        <receiver
            android:name="be.ppareit.swiftp.RequestStartStopReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="be.ppareit.swiftp.ACTION_START_FTPSERVER" />
                <action android:name="be.ppareit.swiftp.ACTION_STOP_FTPSERVER" />
            </intent-filter>
        </receiver>

        <receiver
            android:icon="@drawable/launcher"
            android:label="@string/swiftp_name"
            android:name="be.ppareit.swiftp.gui.FsWidgetProvider"
            android:exported="false" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STARTED" />
                <action android:name="be.ppareit.swiftp.FTPSERVER_STOPPED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <service android:name="be.ppareit.swiftp.gui.FsWidgetProvider$UpdateService" />
        
        <activity
            android:name="com.sogou.mobiletoolassist.ui.ContactInfoActivity"
            android:theme="@style/Transparent">
            
        </activity>
    </application>

</manifest>
